.text-dgreen{
  color: darkgreen;
}
.bghead {
  background-color: black !important;
}

.extrapic img {
  height: 50vh !important;
}

.contact_info {
  background: #75c552;
  padding-left: 50px;
  padding-top: 10px;
  text-align: left;
  color: white;

}

.contact_info i {
  color: white;
  font-size: 20px;
  padding-right: 50px;
  text-align: left;
}



/* //scroll icom */

.sticky-social {
  position: fixed;
  top: 32%;
  left: -20px;
  padding: 0px;
  margin: 0px;
  z-index: 9999;
}

.social {
  list-style: none;
}

.social li {
  padding: 10px 10px;
  font-size: 25px;
  transition: all 0.8s ease-in-out;
}

.social li:hover {
  margin-right: -30px;
  box-shadow: 2px 5px 10px grey;
}

.social li:hover .fa {
  margin-left: 20px;
}

.fa {
  color: #fff;
  transition: all 0.8s ease-in-out;
}

.socialIcons {
  background: #75c552;
}

.b_icon {
  /* margin-top: 5% !important; */
  border-left: 1px solid black !important;
}

.strper {
  margin-bottom: -10% !important;
  position: relative !important;
}

.strper2 {
  z-index: 9999!important;
  background-color: white;
}

.s2 {
  color: green;
}

/* Slideshow container */
.tradingImg{
  padding-right: 10%;
  padding-top: 10%;
}
.tradingcontent{
  padding-top: 4%;

}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.content_space{
 padding-top: 10%;
}

.float2{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:120px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.my-float{
	margin-top:16px;
}